<main>
        <!--
      - BANNER
    -->

    <div class="banner">

        <div class="container">
  
          <div class="slider-container has-scrollbar">
  
            <div class="slider-item">
  
              <img src="../images/asam.jpeg" alt="samsung" class="banner-img">
  
              <div class="banner-content">
  
                <p class="banner-subtitle">Trending item</p>
  
                <h2 class="banner-title">latest electronics on sale</h2>
  
                <p class="banner-text">
                  starting at &dollar; <b>200</b>.00
                </p>
  
                <a href="#" class="banner-btn">Shop now</a>
  
              </div>
  
            </div>
  
            <div class="slider-item">
  
              <img src="../images/sem.jpeg" alt="modern sunglasses" class="banner-img">
  
              <div class="banner-content">
  
                <p class="banner-subtitle">Trending accessories</p>
  
                <h2 class="banner-title">Infinx devices</h2>
  
                <p class="banner-text">
                  starting at &dollar; <b>150</b>.00
                </p>
  
                <a href="#" class="banner-btn">Shop now</a>
  
              </div>
  
            </div>
  
            <div class="slider-item">
  
              <img src="../images/infi.jpeg" alt="new fashion summer sale" class="banner-img">
  
              <div class="banner-content">
  
                <p class="banner-subtitle">Sale Offer</p>
  
                <h2 class="banner-title">smart sales summer sale</h2>
  
                <p class="banner-text">
                  starting at &dollar; <b>290</b>.99
                </p>
  
                <a href="#" class="banner-btn">Shop now</a>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div>
  
</main>